.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form {
    width: 300px; /* Adjust the width as needed */
    padding: 20px;
    border: 1px solid pink;
    background-color:pink;
    border-radius: 8px;
 
  }
  
  /* Add any other styles you need for your form */
  
    